
@{
    ViewBag.Title = "Partners";
    var users = (List<JobConnector.Models.User>)ViewData["users"];
}
<div class="container p-4 bg-white">
    <div class="row p-2">
        <p class="text-success">@ViewData["success_message"]</p>
        <p class="text-danger">@ViewData["error_message"]</p>
    </div>
    @if (users != null)
    {
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Country</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <th>@user.Name</th>
                        <th>@user.Email</th>
                        <th>@user.Phone</th>
                        <th>@user.Country</th>
                        <th>@user.Address</th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

